/*========== variables ==========*/
//@font-face
    //font-family: SegoeUI
    //src: url('../fonts/SegoeUI.ttf')

$minWidthContent: 320px
$mainFont: Roboto, Arial, sans-serif
$mainSize: 16px
$mainColor: #323232
$mainLineHeight: 20px
$linkColor: orange
$linkColorHover: green
$grey: #b3b3b3
