.board
  margin: 0 0 50px
  .top
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 10px 0
    text-align: right
    border-bottom: 1px solid $light-grey
    h1
      font-family: Rubik, sans-serif
      font-size: 30px
      color: $dark
      text-align: left
    button
      width: min-content
      height: 30px
      white-space: nowrap
      padding: 0 22px
      background: $grey
      border: none
      border-radius: 4px
      font-family: RubikBold, sans-serif
      font-size: 11px
      color: $dark
      text-transform: uppercase
      font-weight: bold
      letter-spacing: .5px
      margin: auto 0 auto auto
      &:hover
        background: $blue
        color: $task_right
      &[disabled = 'disabled']
        background: rgba($dark, .5)
        color: $dark
  #boardTable
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-column-gap: 40px
    padding: 26px 0 0
    &.three
      grid-template-columns: repeat(3, 1fr)
    &.two
      grid-template-columns: repeat(2, 1fr)
    &.one
      grid-template-columns: 1fr
    .item
      width: 278px
      .top_part
        display: grid
        grid-template-columns: 1fr min-content
        margin: 0 0 10px
        .left_part
          display: grid
          grid-template-columns: repeat(2, min-content)
          grid-column-gap: 8px
          align-items: center
          .title
            white-space: nowrap
            font-family: RubikMedium, sans-serif
            font-size: 14px
            color: $dark
        .right_part
          display: grid
          grid-template-columns: repeat(2, min-content)
          grid-column-gap: 12px
          align-items: center
          img
            cursor: pointer
      .tasks
        min-height: 128px
        border: 1px solid transparent
        border-radius: 4px
        padding: 2px
        &.empty
          border: 1px dashed rgba($dark, .2)
          position: relative
          top: 3px
          + .add_task
            margin-top: 22px
        &.drag-hover
          border: 1px dashed rgba($dark, .5)
        .task
          display: grid
          grid-template-columns: 64px 1fr
          border-radius: 4px
          overflow: hidden
          cursor: pointer
          margin-bottom: 16px
          &:last-child
            margin-bottom: 0
          .left_part
            background: $task_left
            padding: 15px
            text-align: center
            .persons
              width: min-content
              display: grid
              margin: 0 auto 24px
              img
                width: 32px
                height: 32px
                &:last-child
                  margin-top: -10px
            .arrows
              margin: 0 auto
          .right_part
            background: $task_right
            padding: 15px 15px 15px 12px
            .title
              font-family: RubikMedium, sans-serif
              font-size: 13px
              color: $blue
              span
                font-family: Rubik, sans-serif
                color: $dark
      &.done
        .tasks
          .right_part
            .title
              opacity: 50%
              text-decoration: line-through
      .add_task
        background: $btn_plus
        border-radius: 4px
        width: 32px
        height: 32px
        position: relative
        cursor: pointer
        display: grid
        margin: 16px auto 0
        img
          margin: auto
        &:hover
          background: $btn_plus_active
